<div>
<%= form_with(url: form_path(@form.id), method: :put, model: @form) do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.submit 'Salvar' %>
  </div>
<% end %>
</div>
